<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
          </ion-refresher>
        <ion-item>
            <!-- <ion-thumbnail slot="start">
              <ion-img [src]="{{imgSource}}" alt="Profile Picture"></ion-img>
            </ion-thumbnail> -->
              <img height="200" src="{{imgSource}}">
              <ion-label  aria-placeholder="upload" for="file"></ion-label>
        </ion-item>
        <ion-item>
              <ion-input type="file" (change)="upload($event)" accept=".png,.jpg"></ion-input>
        </ion-item>
        
      
        <ion-card-content> 
          User Email: {{userEmail}}
        </ion-card-content>
      </ion-card>

    <ion-button expand="block" shape="round" (click)="signOut()">Log Out</ion-button>
</ion-content>
