<ion-header>
  <ion-toolbar>
    <ion-title>
      Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="secondary">
      <ion-label>Score:<span>{{ score }}</span></ion-label>
      <ion-label>Time: <span>{{ time }}</span>s</ion-label>
  </ion-item>

  
  <ion-card>
    <ion-item>
      <ion-label>Question <span>{{ questionNumber }}</span></ion-label>
      <ion-checkbox  [checked]="correct" [(ngModel)]="correct"></ion-checkbox>
    </ion-item>
    

    <ion-card-content>

      <ion-row align-items-center>
          <ion-col>
            <ion-input value="{{question.firstNumber}}" readonly></ion-input>
          </ion-col>
          <ion-col>
            <ion-input readonly>+</ion-input>
          </ion-col>
          <ion-col>
            <ion-input value="{{question.secondNumber}}" readonly></ion-input>
          </ion-col>
          <ion-col>
            <ion-input readonly>=</ion-input>
          </ion-col>
          <ion-col>
            <ion-input readonly>?</ion-input>
          </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Answer:</ion-label>
    <ion-input type="number" placeholder="Enter Answer"  [disabled]="stop" [(ngModel)]="userInput"></ion-input>
</ion-item>
  
<ion-row align-items-center class="ion-padding-top">
    <ion-col>
      <ion-button size="large" color="danger" expand="full" shape="round" id="stopBtn" (click)="stopGame()" *ngIf="!stop">Pause</ion-button>
      <ion-button size="large" color="danger" expand="full" shape="round" id="Continue" (click)="continueGame()" *ngIf="stop">Continue</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="large" color="success" expand="full" shape="round" id="startBtn" (click)="startGame()" *ngIf="!started" >Start</ion-button>
      <ion-button size="large" color="success" expand="full" shape="round" id="confirmBtn" [disabled]="stop" *ngIf="started" (click)="checkAnswer()">Confirm</ion-button>
    </ion-col>
</ion-row>
<ion-item lines="none">
    <ion-label>
      {{message}}
    </ion-label>
  </ion-item>

</ion-content>


